body {
    background-color: #497577be;
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color: #ffffff;
    text-align: center;
}

section {
    background-color: #beb7b796;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    height: auto;
    margin: auto;
    box-shadow: 3px 3px 10px #0000005b;
}

footer {
    color: #fff;
    text-align: center;
    font-size: italic;
}


img {
    width: 200px;
    margin-bottom: 15px;

}

#tent{
    color: rgb(32, 32, 32);
    font-size: 20px;
}

#btn {
    background-color: rgba(72, 72, 72, 0.755);
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin: auto;

}

#btn1 {
    background-color: rgba(124, 141, 85, 0.493);
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-top: 10px;


}

#digitos input {
    margin-top: 15px;
    width: 70px;
    height: 80px;
    font-size: 80px;
    text-align: center;
}


#regras p {
    font-size: 12pt;
    text-align: center;
}


#valores div {
    margin-top: 15px;
    width: 50px;
    height: 60px;
    font-size: 60px;
    text-align: center;
}

#valores {
    display: flex;
}

.box {
    margin: auto;
}
